<section class="collection section">
  <div class="collection-container container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-list">
      <li class="collection-item">
        <picture class="collection-item-picture">
          <source
            srcset="
              ./img/collection/collection-1440-1-1x-min.jpg 1x,
              ./img/collection/collection-1440-1-2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/collection-1280-1-1x-min.jpg 1x,
              ./img/collection/collection-1280-1-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/collection-tab-1-1x-min.jpg 1x,
              ./img/collection/collection-tab-1-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/collection-mob-1-1x-min.jpg 1x,
              ./img/collection/collection-mob-1-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/collection-mob-1-1x-min.jpg"
            alt="AUGUST Poltava women's blouseRING"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>

        <h3 class="collection-subtitle">AUGUST Poltava women's blouseRING</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture class="collection-item-picture">
          <source
            srcset="
              ./img/collection/collection-1440-2-1x-min.jpg 1x,
              ./img/collection/collection-1440-2-2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/collection-1280-2-1x-min.jpg 1x,
              ./img/collection/collection-1280-2-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/collection-tab-2-1x-min.jpg 1x,
              ./img/collection/collection-tab-2-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/collection-mob-2-1x-min.jpg 1x,
              ./img/collection/collection-mob-2-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/collection-mob-2-1x-min.jpg"
            alt="Women's blouse Gorgany"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>

        <h3 class="collection-subtitle">Women's blouse Gorgany</h3>
        <p class="collection-text">3350 UAH</p>
      </li>
      <li class="collection-item">
        <picture class="collection-item-picture">
          <source
            srcset="
              ./img/collection/collection-1440-3-1x-min.jpg 1x,
              ./img/collection/collection-1440-3-2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/collection-1280-3-1x-min.jpg 1x,
              ./img/collection/collection-1280-3-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/collection-tab-3-1x-min.jpg 1x,
              ./img/collection/collection-tab-3-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/collection-mob-3-1x-min.jpg 1x,
              ./img/collection/collection-mob-3-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/collection-mob-3-1x-min.jpg"
            alt="Women's blouse Crimea"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>

        <h3 class="collection-subtitle">Women's blouse Crimea</h3>
        <p class="collection-text">4000 UAH</p>
      </li>
      <li class="collection-item">
        <picture class="collection-item-picture">
          <source
            srcset="
              ./img/collection/collection-1440-4-1x-min.jpg 1x,
              ./img/collection/collection-1440-4-2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/collection-1280-4-1x-min.jpg 1x,
              ./img/collection/collection-1280-4-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/collection-tab-4-1x-min.jpg 1x,
              ./img/collection/collection-tab-4-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/collection-mob-4-1x-min.jpg 1x,
              ./img/collection/collection-mob-4-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/collection-mob-4-1x-min.jpg"
            alt="Men's shirt Verkhovina"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>

        <h3 class="collection-subtitle">Men's shirt Verkhovina</h3>
        <p class="collection-text">3100 UAH</p>
      </li>
      <li class="collection-item">
        <picture class="collection-item-picture">
          <source
            srcset="
              ./img/collection/collection-1440-5-1x-min.jpg 1x,
              ./img/collection/collection-1440-5-2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/collection-1280-5-1x-min.jpg 1x,
              ./img/collection/collection-1280-5-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/collection-tab-5-1x-min.jpg 1x,
              ./img/collection/collection-tab-5-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/collection-mob-5-1x-min.jpg 1x,
              ./img/collection/collection-mob-5-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/collection-mob-5-1x-min.jpg"
            alt="Mountain men's shirt"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>
        <h3 class="collection-subtitle">Mountain men's shirt</h3>
        <p class="collection-text">3300 UAH</p>
      </li>
      <li class="collection-item">
        <picture class="collection-item-picture">
          <source
            srcset="
              ./img/collection/collection-1440-6-1x-min.jpg 1x,
              ./img/collection/collection-1440-6-2x-min.jpg 2x
            "
            media="(min-width: 1440px)"
          />
          <source
            srcset="
              ./img/collection/collection-1280-6-1x-min.jpg 1x,
              ./img/collection/collection-1280-6-2x-min.jpg 2x
            "
            media="(min-width: 1280px)"
          />
          <source
            srcset="
              ./img/collection/collection-tab-6-1x-min.jpg 1x,
              ./img/collection/collection-tab-6-2x-min.jpg 2x
            "
            media="(min-width: 768px)"
          />
          <source
            srcset="
              ./img/collection/collection-mob-6-1x-min.jpg 1x,
              ./img/collection/collection-mob-6-2x-min.jpg 2x
            "
            media="(max-width: 767px)"
          />
          <img
            src="./img/collection/collection-mob-6-1x-min.jpg"
            alt="Men's shirt Yasen"
            width="335"
            height="400"
            class="collection-img"
          />
        </picture>
        <h3 class="collection-subtitle">Men's shirt Yasen</h3>
        <p class="collection-text">1700 UAH</p>
      </li>
    </ul>
  </div>
</section>
