<footer class="footer">
  <div class="footer-container container">
    <ul class="footer-list">
      <div class="footer-list-container">
        <li class="footer-item">
          <a href="#about " class="footer-link">About us</a>
        </li>
        <li class="footer-item">
          <a href="#collection" class="footer-link">Our collection</a>
        </li>
      </div>
      <div class="footer-list-container">
        <li class="footer-item">
          <a href="#order" class="footer-link">CUSTOMER ORDER</a>
        </li>
        <li class="footer-item">
          <a href="#testimonials" class="footer-link">Testimonials</a>
        </li>
      </div>
    </ul>
    <p class="footer-text">
      A touch of <span class="ukrainian">Ukrainian</span> culture in every
      embroidery
    </p>
  </div>
</footer>
