<section class="hero">
  <div class="hero-container container">
    <div>
      <h1 class="hero-title">
        Reviving the traditional
        <span class="hero-title-color">Ukrainian</span> artistry in every
        stitch.
      </h1>
      <button type="button" class="hero-button">
        <a href="" class="hero-link">Order</a>
        <svg class="hero-button-icon" width="26" height="10">
          <use href=""></use>
        </svg>
      </button>
    </div>
    <img src="" alt="A girl in an embroidered dress" class="hero-img" />
  </div>
</section>
